{% extends 'base.html' %}

{% block title %}{{ recipe }}{% endblock %}

{% block content %}

<main>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for recipes in recipes %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{recipes.image.url}}" />
            <div class="card-body">
              <p>{{recipes.title}}</p>
              <p class="card-text">{{recipes.content}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{recipes.get_absolute_url}}" role="button" class="btn btn-primary btn-sm">View</a
                  >
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </main>

{% endblock content %} 
  












