{% extends 'base.html' %}

{% block title %}{{ recipes }}{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card font-weight-normal">
        <div class="card-header nhs-blue-text">
            {{ recipes }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item pl-3">
            <strong>Therapist Information:</strong><br>
          </li>
                 </ul>
    </div>
</div>
{% endblock %} 
  














{% block content %}

<div class="container pt-5">
<h1>{{recipes.title}}<h1/>
<p>{{recipes.content}}</p>
</div>

{% endblock content %}